[SddmGreeterTheme]
Name=Glass
Description=Material 3 Expressive + стекло, цвета и обои из matugen (как рабочий стол)
Author=Рома
License=GPL-3.0
Type=sddm-theme
Version=1.0
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=glass
Theme-API=2.0
QtVersion=6
